@model RedeSocial.Domain.Entities.Profile

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center mb-4">Você tem certeza que deseja deletar o seu perfil?</h2>
<div>
    <hr />
 <div class="row">
        <div class="col">
            <dd class = "col-sm-10 d-flex justify-content-end">
                <img src="@Model.Foto" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover"/>
            </dd>
        </div>
        <div class="col">
            <dd class = "col-sm-10 fs-2">
                @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model. Sobrenome)
            </dd>
            <dd class = "col-sm-10 fs-5">
                Telefone: @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dd class="col-sm-10">
                Email: @User.Identity.Name
            </dd>
        </div>
        </div>
    </div>

    <hr />
    <div class="d-flex justify-content-center">
    <form asp-action="Delete" class="d-flex justify-content-between mt-4" style="width:350px">
        <input type="hidden" asp-for="IdProfile" />
        <input type="submit" value="Delete" class="btn btn-danger rounded-pill" style="width:150px"/> 
        <a asp-action="Index" class="btn btn-outline-secondary rounded-pill ">Voltar para o perfil</a>
    </form>
    </div>
</div>
