@model RedeSocial.Domain.Entities.Profile
@using System.Security.Claims;

@{
    ViewData["Title"] = "Meu Perfil";
}

<h3>Meu Perfil</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <dd class = "col-sm-10 d-flex justify-content-center">
                <img src="@Model.Foto" style="width: 150px; height: 150px; border-radius: 50%"/>
            </dd>
        </div>
        <div class="col-6">
            <dd class = "col-sm-10 fs-2">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dd class="col-sm-10">
                @User.Identity.Name
            </dd>
        </div>
        <div class="col">
            @if (Model.IdProfile.ToString() == this.User.FindFirst(ClaimTypes.NameIdentifier).Value)
                {
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.IdProfile">Editar</a>
                }
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                CreatedDate
            </th>
            <th>
                Descricao
            </th>
            <th>
                Imagem
            </th>
            <th>
                Produto
            </th>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <img src="@item.Imagem" style="max-width:350px; height:auto">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                @if (item.Profile.IdProfile.ToString() == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString())
                {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action = "Details" asp-route-id = "@item.Id" > Details </a>
                                <a asp-action = "Delete" asp-route-id = "@item.Id" > Delete </a>
                            </td>
                }
            </tr>
        }
    </tbody>
</table>
