@model RedeSocial.Domain.Entities.Profile
@using System.Security.Claims;

@{
    ViewData["Title"] = "Meu Perfil";
}

<h3>Meu Perfil</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <dd class = "col-sm-10 d-flex justify-content-center">
                <img src="@Model.Foto" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover"/>
            </dd>
        </div>
        <div class="col-6">
            <dd class = "col-sm-10 fs-2">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dd class="col-sm-10">
                @User.Identity.Name
            </dd>
        </div>
        <div class="col">
            @if (Model.IdProfile.ToString() == this.User.FindFirst(ClaimTypes.NameIdentifier).Value)
                {
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.IdProfile">Editar</a>
                }
        </div>
    </div>
</div>
<hr />

<div class="d-flex flex-row flex-wrap justify-content-between">
    @foreach (var item in Model.Posts)
    {
        <div class="card-deck" style="max-height: 550px">
            <div class="card mt-3" style="width: 18rem; height: 500px">
              <img class="card-img-top" src="@item.Imagem" alt="Card image cap" style="max-height:250px">
              <div class="card-body d-flex flex-column ">
                <h5 class="card-title">@item.Produto</h5>
                <p class="card-text text-wrap" style="text-overflow: ellipsis; max-height: 100px; width: 97%; white-space: nowrap; overflow: hidden;">@item.Descricao</p>
                <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id" class="btn btn-outline-primary">Ver postagem completa</a>             
              </div>
              <div class="card-footer">
                  <img src="@item.Profile.Foto" style="height:45px; width: 45px; border-radius:50%; object-fit: cover" />
                <small class="text-muted"> Postado em @item.CreatedDate</small>
              </div>
            </div>
        </div>
    }
</div>