@model IEnumerable<RedeSocial.Domain.Entities.Profile>
@using System.Security.Claims;

@{
    ViewData["Title"] = "List";
}

<h2>Todos os perfils</h2>
<hr/>

<div class="d-flex flex-row flex-wrap justify-content-between mt-4">
@foreach (var item in Model) {
        bool isFriend = item.FriendshipsA.Any(p => p.IdProfileA.ToString() == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString()
                            || p.IdProfileB.ToString() == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString());
    bool isFriend2 = item.FriendshipsB.Any(
                        p => p.IdProfileA.ToString() == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString()
                            || p.IdProfileB.ToString() == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString());
            
    
    <div style="height: 380px">
        <div class="card text-center" style="width: 14rem; height: 350px">
          <img class="card-img-top" src="@item.Foto" style="height: 200px; object-fit: cover" alt="Foto de Perfil">
          <div class="card-body">
            <h5 class="card-title">@item.Nome @item.Sobrenome</h5>
            <a class="btn btn-light rounded-pill" asp-action="Details" asp-route-id="@item.IdProfile">Visitar perfil</a>
              @if (item.IdProfile.ToString() != Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)).ToString() && !isFriend && !isFriend2)
              {
                <form class="mt-2" asp-controller="Friendship" asp-action="Create" asp-route-id="@item.IdProfile">
                    <input style="width: 110px" class="btn btn-primary rounded-pill" type="submit" value="Adicionar"/>
                </form>
              }
          </div>
        </div>
    </div>
}
</div>