@model IEnumerable<RedeSocial.Domain.Entities.Profile>

@{
    ViewData["Title"] = "List";
}

<h1>Todos os perfils</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td class="col-md-2">
                <a asp-action="Details" asp-route-id="@item.IdProfile">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
