@model RedeSocial.Domain.Entities.ProfileDetails

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Informações pessoais</h1>
<hr />

<div>
    <dl class="row d-flex justify-content-center">
        <dt class = "col-sm-2">
            Usuário
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Profile.Nome) @Html.DisplayFor(model => model.Profile.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            Aniversário
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Aniversario)
        </dd>
        <dt class = "col-sm-2">
            Tipo de pele
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.TipoPele)
        </dd>
        <dt class = "col-sm-2">
            Tipo de cabelo
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.TipoCabelo)
        </dd>
        <dt class = "col-sm-2">
            Cor de pele
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.CorPele)
        </dd>
        <dt class = "col-sm-2">
            Cor de cabelo
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.CorCabelo)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" class="btn btn-primary rounded-pill" style="width: 10%">Edit</a>
    <a asp-controller="Profiles" class="btn btn-outline-primary rounded-pill" asp-action="Details" asp-route-id="@Model?.ProfileId">Back to Profile</a>
</divc>
