@model RedeSocial.Domain.Entities.Post

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center">Você tem certeza que deseja deletar essa postagem?</h2>
<hr/>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 70%">
      <div class="card-header"> 
          Categoria: @Model.Categoria
      </div> 
      <img class="card-img-top" src="@Model.Imagem" alt="Imagem do produto" style="height: 350px; object-fit: contain">
      <div class="card-body">
        <h3 class="card-title">@Model.Produto</h3>
        <p class="card-text">@Model.Descricao</p>
      </div>
      <div class="card-footer text-muted">
          <img src="@Model.Profile.Foto" style="height:45px; width: 45px; border-radius: 50%; object-fit: cover" />
          <small class="text-muted"> Postado em @Model.CreatedDate</small>
      </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <form asp-action="Delete" class="d-flex justify-content-around" style="width: 25%">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger rounded-pill" style="width: 45%"/> 
        <a asp-action="Details" asp-route-id="@Model.Id" style="width: 45%" class="btn btn-outline-primary rounded-pill">Voltar</a>
    </form> 
</div>
   


