@model RedeSocial.Domain.Entities.Post

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div class="row">
    <div class="col-10">
        <div class="row">
            <div class="col-2">
                <img src="@Model.Profile.Foto" style="border-radius: 50%; height: 80px; width: 80px;"/>
            </div>
            <div class="col-4">
                <h3>@Model.Profile.Nome</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-primary rounded-pill" style="width: 60px;">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-sm btn-outline-danger rounded-pill">Delete</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagem" style="max-width:350px; height:auto">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

