@using System.Security.Claims;
@model IEnumerable<RedeSocial.Domain.Entities.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Feed</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Adicionar novo post</a>
</p>
<div class="d-flex flex-row flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="card-deck" style="max-height: 550px">
            <div class="card mt-3" style="width: 18rem; height: 500px">
              <img class="card-img-top" src="@item.Imagem" alt="Card image cap" style="max-height:250px">
              <div class="card-body d-flex flex-column ">
                <h5 class="card-title">@item.Produto</h5>
                <p class="card-text text-wrap" style="text-overflow: ellipsis; max-height: 100px; width: 97%; white-space: nowrap; overflow: hidden;">@item.Descricao</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Ver postagem completa</a>             
              </div>
              <div class="card-footer">
                  <img src="@item.Profile.Foto" style="height:45px; width: 45px; border-radius: 50%; object-fit: cover" />
                <small class="text-muted"> Postado em @item.CreatedDate</small>
              </div>
            </div>
        </div>
    }
</div>

